div,ul,li,body,html,strong,dl,dd,dt,em,input,h1,h2,h3,h4,h5,h6,p,img,button,a,select{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
	font-size: 14px;
	border: 0;
	/*background: none;*/
}
a{
	text-decoration: none;
	color: #656565;
}
ul{
	list-style-type: none;
}
.comWidth{
	width: 1000px;
	margin: 0 auto;
}
input {
	outline: none;
	border: 0;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.cl{
	clear: both;
}
.hedden{
	display: none;
}